 <header>
                <nav class="navbar navbar-expand-sm navbar-light bg-light d-flex justify-content-around">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link" href="{{ path('zonas') }}">Zonas</a></li>
                            <li class="nav-item"><a class="nav-link" href="{{ path('oferente') }}">Oferente</a></li>
                            
                            <li class="nav-item"><a class="nav-link" href="{{ path('oficios') }}">oficios</a></li>
                    </ul> 
                        <a href="{{ path('home') }}" class="navbar-brand m-auto">Ahora Servicios</a>
                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link" href="{{ path('zonas') }}">Zonas</a></li>
                            <li class="nav-item"><a class="nav-link" href="{{ path('oferente') }}">Oferente</a></li>
                            <li class="nav-item"><a class="nav-link" href="{{ path('oficios') }}">oficios</a></li>
                    </ul> 
                </nav>
</header>